html{
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    background-color: rgb(207, 207, 207);
    margin: 0;
    padding: 5% 5% 0 5%;
    height: 100%;
}
.container{
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 0 auto;

}
.head{
  padding: 5% 5% 5% 5%;
  background: rgb(46, 255, 61);
  color: white;
}
.title{
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
}
.title-small{
  display: inline-block;
  font-size: 1em;
  text-align: center;
}
#input_file{
  background: rgb(245, 245, 245);
  border: solid 1px rgb(47, 186, 169);
  border-radius: 5px;
}
.send_button {
  display: inline-block;
  margin: 20px 20px 20px 20px;
  padding: 2px 10px 2px 10px;
    border-radius: 5px;
    font-family: 'Ruda', sans-serif;
    font-size: 200%;
    border: solid 2px rgb(46, 255, 61);
    color: rgb(46, 255, 61);
}

.download_item {
    width: 200px;
    height: 40px;
    margin: 0px auto;
}

.main_part {
  padding: 1% 5% 5% 5%;
    text-align: center;
    width: 100%;
    min-height: 300px;
    background-color: rgb(255,255,255);
    border: solid 1px rgb(255,255,255);
}
.main_part p{
    font-size: 0.9em;
}

.link_size {
    height: 90px;
    width: 90px;
}

.link_access {

}

.footer {
    margin-top: 20px;
    font-family: 'Ruda', sans-serif;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}
